<app-header></app-header>
<div class="container mt-5">
  <div class="centered-content mx-auto">
    <!-- Stepper -->
    <div class="d-flex justify-content-center mb-5">
      <div class="step-indicator d-flex align-items-center">
        <div *ngFor="let step of steps; let i = index" class="d-flex align-items-center">
          <!-- Step Circle -->
          <div class="step" [ngClass]="{'active-step': i === currentStepIndex, 'completed': i < currentStepIndex}">
            <!-- Completed step icon -->
            <i *ngIf="i < currentStepIndex" class="bi bi-check-square-fill icon-check"></i>
            
            <!-- Active step with fixed title "Care Preferences" -->
            <span *ngIf="i === currentStepIndex">
              <div class="step active-step">
                <i class="bi bi-check" style="color: white;background-color: white;height: 32px;width: 32px;border-radius: 4px;"></i>
                <div>
                  <div class="step-subtitle">STEP {{ i + 1 }}/{{ steps.length }}</div>
                  <div class="step-title">Care Preferences</div>
                </div>
              </div>
              
            </span>
    
            <!-- Pending step icon -->
            <i *ngIf="i > currentStepIndex" class="bi bi-clock-history icon-clock"></i>
          </div>
    
          <!-- Line between steps, hidden after the last step -->
          <div *ngIf="i < steps.length - 1" class="line" [ngClass]="{'completed-line': i < currentStepIndex - 1}"></div>
        </div>
      </div>
    </div>

    <!-- Dynamic Question Container -->
    <div class="card p-4 mb-3">
      <h5>{{ currentStep.title }}</h5>
      <p class="text-muted">{{ currentStep.description }}</p>

      <div *ngIf="currentStep.isLocationStep" style="height: 200px;" >
        <div class="d-flex justify-content-between mb-3">
          <input 
            type="text" 
            class="form-control me-2" 
            placeholder="Location"
            #locationInput 
            (input)="updateMap(locationInput.value, undefined)"
          />
          <span class="align-self-center text-muted">OR</span>
          <input 
            type="text" 
            class="form-control ms-2" 
            placeholder="Pincode"
            #pincodeInput 
            (input)="updateMap(undefined, pincodeInput.value)"
          />
        </div>
        <div style="position: relative;">
          <!-- Loader Component, centered over the map -->
          <div *ngIf="isMapLoading" class="loader-overlay">
            <app-loader></app-loader>
          </div>
          
          <!-- Map Container -->
          <div id="map" style="height: 150px;" class="mt-3"></div>
        </div>        
        
      </div>
  
      <!-- Dynamic Options -->
      <div *ngIf="!currentStep.isLocationStep" class="d-flex flex-wrap justify-content-center">
        <button 
        *ngFor="let option of currentStep.options" 
        class="btn btn-outline-secondary m-2"
        (click)="selectOption(option)"
        [ngClass]="{'selected-option': selectedOption === option}">
        {{ option }}
      </button>
      
      </div>
    </div>
  
    <!-- Navigation Buttons -->
    <div class="d-flex justify-content-between mt-3">
      <button *ngIf="currentStepIndex > 0" class="btn btn-secondary action-button" (click)="previousStep()" style="border-radius: 37px;">
        Previous Step
      </button>
      <button *ngIf="currentStepIndex === steps.length - 1" class="btn btn-primary ms-auto action-button" (click)="submitForm()" style="border-radius: 37px;padding: 10px 40px;">
        Submit
      </button>
      <button 
        *ngIf="currentStepIndex < steps.length - 1" 
        class="btn btn-secondary ms-auto action-button" 
        (click)="nextStep()" 
        [disabled]="!isOptionSelected"
        [ngClass]="{'disabled-button': !isOptionSelected}"
        style="border-radius: 37px;">
        Next Step
      </button>

    </div>
    
  </div>
  </div>

  <app-register-success [isVisible]="showSuccessPopup" (close)="closeSuccessPopup()"></app-register-success>
